{{yield}}

<button class="glyphicon glyphicon-chevron-left" {{action "previousImage" images}}></button> <img class="glassman" src={{images.firstObject}}>  <button class="glyphicon glyphicon-chevron-right" {{action "nextImage" images}}></button>
