{{yield}}

<button class="glyphicon glyphicon-chevron-left car-button" {{action "previousImage" images}}></button> <img class="glassman" src={{images.firstObject}}>  <button class="glyphicon glyphicon-chevron-right car-button" {{action "nextImage" images}}></button>
