<button {{action 'showMap' model}}>Show Map</button>

<div id="map"></div>

<script>
  function foo() {
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy1AZgshJ0GIrIZK4-k8Awvnf_m2CrgdA&signed_in=true&callback=foo"></script>
