<h1>Unused Space in {{model.name}}</h1>

<ul>
<div  class="col-md-8">
  {{#each model.properties as |property|}}
    <li><img class="property-image" src='{{property.image}}'></li>
  {{/each}}
</div>
</ul>
