.nav a {
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.homer{
  padding: 30px;
}

.basket {
  background-image:url('https://images.unsplash.com/photo-1441123285228-1448e608f3d5?q=80&fm=jpg&s=3fe791b1810657c7ba33f7ca8df131e9');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}
.nav{
  height: 48px;
  background-color: lightgray;
  background-image: url("/img/woodbackground.jpg");
}

.search {
  text-align: center;
}
.navtext {
  size: 2px;
}

.thumbnail-text {
   position: absolute;
   top: 200px;
   left: 200px;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
}




.Portland{
  border: solid 5px white;
  background-image:url('/img/portlandgarden.jpg');
  height: 160px;
  width: 350px;
  color: white;
  text-align: center right;
  border-color: white;
  text-shadow: 2px 2px red;
}

.Sanfrancisco{
  border: solid 5px white;
  background-image:url('/img/SanFranciscoVeggie.jpg');
  height: 160px;
  width: 350px;
  color: white;
  text-align: center right;
  border-color: white;
  text-shadow: 2px 2px #b29600;
}

.Seattle{
  border: solid 5px white;
  background-image:url('/img/SeattleVeggie.jpg');
  height: 160px;
  width: 350px;
  color: white;
  text-align: center right;
  border-color: white;
  text-shadow: 3px 3px #000080;
}

.Newyork{
  border: solid 5px white;
  background-image:url('/img/newyorkveggie.jpg');
  height: 160px;
  width: 350px;
  color: white;
  text-align: center right;
  border-color: white;
  text-shadow: 2px 2px #000000;
}
.Boston{
  border: solid 5px white;
  background-image:url('/img/bostonveggie.jpg');
  height: 160px;
  width: 350px;
  color: white;
  text-align: center right;
  border-color: white;
  text-shadow: 2px 2px #990000;
}
.Denver{
  border: solid 5px white;
  background-image:url('/img/denverveggie.jpg');
  height: 160px;
  width: 350px;
  color: white;
  text-align: center right;
  border-color: white;
  text-shadow: 2px 2px #FB4F14;
}

.property-image {
  width: 350px;
  height: 160px;
}

li{
  list-style-type: none;
  margin: 10px;
  float:right;
}
