<div class="jumbotron aboutVeg">
  <div class="container">
    <h2>What We're All About</h2>
    <p>Wolf paleo cold-pressed slow-carb raw denim, cardigan Vice forage migas mustache kogi taxidermy aesthetic. Mustache Helvetica Williamsburg irony kogi butcher, beard dreamcatcher Kickstarter quinoa distillery keffiyeh gentrify wolf. McSweeney's fanny pack brunch seitan yr try-hard. Sartorial hoodie American Apparel blog, artisan PBR&B deep v biodiesel High Life organic 3 wolf moon meditation synth polaroid 8-bit. Literally mixtape viral Schlitz, sriracha forage paleo ennui cornhole PBR&B bitters leggings heirloom Pitchfork hella. Pour-over distillery disrupt, Helvetica PBR&B ethical paleo vegan fashion axe VHS Williamsburg. Migas fap pour-over normcore, fingerstache mumblecore Echo Park butcher fashion axe seitan put a bird on it scenester disrupt hella</p>
  </div>
</div>
<div class="learn-more">
  <div class="container">
    <div class= "row">
        <div class="col-md-4">
          <h3>Start Your Garden</h3>
          <p>Use Garden Space In Your Community To Grow Your Produce</p>
          <p><a href="#">How To Connect With Yard Owners</a></p>
        </div>
         <div class="col-md-4">
              <h3>$$$</h3>
              <p>Make Money Off Unused Land On Your Property</p>
          <p><a href="#">Learn more about hosting</a></p>
         </div>
           <div class="col-md-4">
            <h3>Trust and Safety</h3>
            <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
            <p><a href="#">Learn about trust at Airbnb</a></p>
           </div>
      </div>
  </div>
</div>
