
   <div class="jumbotron basket">
      <div class="container">
        <h1>Weed It And Reap</h1>
        <p>Connect with those in your community with gardening space</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  <div class="neighborhood-guides">
    <div class="container">
        <h2>Gardening Cities</h2>
        <p>Explore Cities That We Are Active In</p>
      <div class="row">
        {{#each model.locations as |location|}}
          {{city-tile location=location}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="learn-more">
    <div class="container">
      <div class= "row">
          <div class="col-md-4">
            <h3>Start Your Garden</h3>
            <p>Use Garden Space In Your Community To Grow Your Produce</p>
            <p><a href="#">How To Connect With Yard Owners</a></p>
          </div>
           <div class="col-md-4">
                <h3>$$$</h3>
                <p>Make Money Off Unused Land On Your Property</p>
            <p><a href="#">Learn more about hosting</a></p>
           </div>
             <div class="col-md-4">
              <h3>Trust and Safety</h3>
              <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
              <p><a href="#">Learn about trust at Airbnb</a></p>
             </div>
        </div>
    </div>
  </div>
