
   <div class="jumbotron basket">
      <div class="container">
        <h1>Find a place to grow.</h1>
        <p>Connect with those in your community with gardening space</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  <div class="neighborhood-guides">
    <div class="container">
        <h2>Gardening Cities</h2>
        <p>Explore Cities That We Are Active In</p>
      <div class="row">

          <div class="col-md-4">
            <div class="jumbotron portland">
              <h3>Portland</h3>
            </div>
            <div class="jumbotron sanfrancisco">
              <h3>San Francisco</h3>
            </div>
          </div>

          <div class="col-md-4">
            <div class="jumbotron seattle">
              <h3>Seattle</h3>
            </div>
            <div class="jumbotron newyork">
              <h3>New York</h3>
            </div>
          </div>

          <div class="col-md-4">
            <div class="jumbotron boston">
              <h3>Boston</h3>
            </div>
            <div class="jumbotron denver">
              <h3>Denver</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="learn-more">
    <div class="container">
      <div class= "row">
          <div class="col-md-4">
            <h3>Travel</h3>
            <p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
            <p><a href="#">See how to travel on Airbnb</a></p>
          </div>
           <div class="col-md-4">
                <h3>Host</h3>
                <p>Renting out your unused space could pay your bills or fund your next vacation.</p>
            <p><a href="#">Learn more about hosting</a></p>
           </div>
             <div class="col-md-4">
              <h3>Trust and Safety</h3>
              <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
              <p><a href="#">Learn about trust at Airbnb</a></p>
             </div>
        </div>
    </div>
  </div>
